@page "/test"
@page "/sample"

<h3>Test</h3>

@* call function *@
<h3>@getCounter()</h3>

@* using event handler *@
<button class="btn btn-primary" @onclick="removeOne">Remove 1</button>

@* using lambda function *@
<button class="btn btn-primary" @onclick=@(()=>num++)>Add 1</button>

@* using inline calculations *@
<h3>Counter * 2: @(2 * num)</h3>

@* using conditions *@
@if (num % 2 == 0)
    parity = "even";
else
    parity = "odd";

<h3>Parity: @parity</h3>

@* using for loop *@
@for (int i = 0; i < 3; i++)
{
    <p>I = @i</p>
}


@code {
    private string parity = string.Empty;
    private int num = 44;
    private void removeOne() => num--;
    private string getCounter() => $"counter = {num}";
}
