@page "/test"
@page "/sample"

<h3>Test</h3>
<h3>@getCounter()</h3>
<button class="btn btn-primary" @onclick="removeOne">Click me</button>
<h3>Counter * 2: @(2 * i)</h3>
@code {
    private int i = 44;

    private void removeOne() => i--;
    private string getCounter() => $"counter = {i}";
}
