@page "/"

@foreach (var item in contacts)
{
    <p>@item.FirstName</p>
    <p>@item.LastName</p>
    <p>@item.Email</p>
}

@code {
    private List<Contact> contacts = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        contacts.Add(new Contact { FirstName = "Alex", LastName = "Bobrov", Email = "alex.b@gmail.com" });
        contacts.Add(new Contact { FirstName = "Fedor", LastName = "Sankin", Email = "fedor.s@gmail.com" });
        contacts.Add(new Contact { FirstName = "Mike", LastName = "Ash", Email = "mike.ash@gmail.com" });
    }
}