@page "/"

@foreach (var item in contacts)
{
    <p>
        <b>Name: </b>
        <span>@item.FirstName @item.LastName</span><br />

        <b>Email: </b>
        <span><i>@item.Email</i></span>
    </p>
}

@code {
    private List<Contact> contacts = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        contacts.Add(new Contact { FirstName = "Alex", LastName = "Bobrov", Email = "alex.b@gmail.com" });
        contacts.Add(new Contact { FirstName = "Fedor", LastName = "Sankin", Email = "fedor.s@gmail.com" });
        contacts.Add(new Contact { FirstName = "Mike", LastName = "Ash", Email = "mike.ash@gmail.com" });
    }
}