@* razor file *@
@page "/"

@* change state based event *@
<input type="checkbox" @onchange="@(() => displayEmail = !displayEmail)">
<label>show email</label>

@foreach (var c in contacts)
{
	<ContactComponent CurrentContact="c" DisplayEmail="displayEmail" deleteContactHandler="deleteContact" />
}

@* change state based data binding *@
<input type="checkbox" @bind="displayGreetings">
<label>show greetings</label>
@if (displayGreetings)
{
	<p>welcome to razor components lesson</p>
}


@code {
	private List<Contact> contacts = new();
	private bool displayEmail = false;
	private bool displayGreetings = false;

	private void deleteContact(Contact contact)
	{
		contacts.Remove(contact);
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();

		contacts.Add(new Contact { FirstName = "Alex", LastName = "Bobrov", Email = "alex.b@gmail.com" });
		contacts.Add(new Contact { FirstName = "Fedor", LastName = "Sankin", Email = "fedor.s@gmail.com" });
		contacts.Add(new Contact { FirstName = "Mike", LastName = "Ash", Email = "mike.ash@gmail.com" });
	}
}