@* razor component. do not use routing *@
<p>
    <b>Name: </b>
    <span>@CurrentContact?.FirstName @CurrentContact?.LastName</span><br />

    <b>Email: </b>
    <span><i>@CurrentContact?.Email</i></span>
</p>

@code {
    [Parameter]
    public Contact? CurrentContact { get; set; }
}