@* razor component. do not use routing *@
<p>
    <b>Name: </b>
    <span>@Contact?.FirstName @Contact?.LastName</span><br />

    <b>Email: </b>
    <span><i>@Contact?.Email</i></span>
</p>

@code {
    [Parameter]
    public Contact? Contact { get; set; }
}