@* razor component. do not use routing *@
<p>
    <b>Name: </b>
    <span>@ComponentContact?.FirstName @ComponentContact?.LastName</span><br />

    <b>Email: </b>
    <span><i>@ComponentContact?.Email</i></span>
</p>

@code {
    [Parameter]
    public Contact? ComponentContact { get; set; }
}